server {
    server_name personal-collect-final.mnz.dom.my.id www.personal-collect-final.mnz.dom.my.id mail.personal-collect-final.mnz.dom.my.id webmail.personal-collect-final.mnz.dom.my.id admin.personal-collect-final.mnz.dom.my.id;
    listen 152.53.54.225;
    listen [2a0a:4cc0:2000:20fc::];
    listen 152.53.54.225:443 ssl http2;
    listen [2a0a:4cc0:2000:20fc::]:443 ssl http2;
    root /home/personal-collect-final/public_html/public;
    index index.php index.htm index.html;
    access_log /var/log/virtualmin/personal-collect-final.mnz.dom.my.id_access_log;
    error_log /var/log/virtualmin/personal-collect-final.mnz.dom.my.id_error_log;

    location ^~ /.well-known/ {
        try_files $uri /;
    }

    location ~ "\.php(/|$)" {
        try_files $uri $fastcgi_script_name =404;
        default_type application/x-httpd-php;
        fastcgi_pass unix:/var/php-fpm/17368256662020855.sock;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    fastcgi_split_path_info "^(.+\.php)(/.+)$";

    if ($host = webmail.personal-collect-final.mnz.dom.my.id) {
        rewrite "^/(.*)$" "http://personal-collect-final.mnz.dom.my.id:20000/$1" redirect;
    }

    if ($host = admin.personal-collect-final.mnz.dom.my.id) {
        rewrite "^/(.*)$" "https://personal-collect-final.mnz.dom.my.id:2443/$1" redirect;
    }

    ssl_certificate /etc/ssl/virtualmin/17260179234797/ssl.cert;
    ssl_certificate_key /etc/ssl/virtualmin/17260179234797/ssl.key;
}