server {
    server_name www.personal-collect-final.mnz.dom.my.id personal-collect-final.mnz.dom.my.id;
    listen 152.53.54.225:443 ssl;
    listen [2a0a:4cc0:2000:20fc::]:443 ssl;
    root /home/personal-collect-final/public_html/public;
    index index.html index.php;
    access_log /var/log/virtualmin/personal-collect-final.mnz.dom.my.id_access_log;
    error_log /var/log/virtualmin/personal-collect-final.mnz.dom.my.id_error_log;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
        if ($http_referer !~ "^https?://personal-collect-final.mnz.dom.my.id") {
            rewrite ^ /deceptive.html last;
        }
    }

    location ~ \.[^\/]+(?<!\.php)$ {
        try_files $uri =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/php-fpm/17368084751865941.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location = /deceptive.html {
        root /usr/local/share/www;
        internal;
    }

    ssl_certificate /etc/ssl/virtualmin/17260179234797/ssl.combined;
    ssl_certificate_key /etc/ssl/virtualmin/17260179234797/ssl.key;
}